@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #252525;
    line-height: 1.5em;
    padding: 25px;
}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

/* Concurrentie */

table {
    background-color:hsla(68, 63%, 75%, 1);
    color: hsla(68, 63%, 15%, 1);
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
}

th {
    width: auto;
    background-color: hsla(68, 63%, 45%, 1);
}

td#highest {
    font-weight: bolder;
    text-shadow: 1px 1px hsla(68, 83%, 25%, 0.6);
}

th, td {
    border: 1px solid black;
    text-align: center
}

tr {
    height: 60px;
}

thead>tr {
    height: 50px;;
}

tr:hover {
    background-color: hsla(68, 63%, 65%, 1)
}

table>thead>tr>th>a {
    text-decoration-style: dotted;
    color: inherit;
}

div.concurrentieList {
    max-width: 1200px;
    height: 450px;
    margin: 30px auto;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-around
}

div.concurrentieList>div>h2 {
    margin: 0px; /*lazy flex fix*/
}

/* User Scenarios */

div#scenario_box {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

div.users {
    background-color: hsla(0, 0%, 95%, 1);
    width: 45%;
    height: 150px;
    padding: 10px;
    padding-left: 30px;
    border: 2px solid hsla(0, 0%, 90%, 1);
    margin: 40px 0px;
}

/* Style Guide */

h1 {
    color: #cfde6e;
    font-weight: 800;
    font-size: 2em;
}

h2 {
    color: #deb56e;
    font-weight: 100;
    font-size: 1.8em
}

h3{
    color: #deb56e;
    font-weight: 100;
    font-size: 1.4em;
}

div.slab {
    background-color: #252525;
    padding: 20px;
    margin: 20px 0px;
}

div.flexbox {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

div.flexbox>div>p {
    text-align: center;
}

div.slab>p, div.slab>div>p {
    color: #d8d8d8;
}

img.icon {
    width: 100px;
    opacity: 0.7;
}

img.icon:hover {
    opacity: 1;
}

img.logo {
    width: 200px;
}

div#color1 {
    width: 200px;
    height: 200px;
    background-color: hsla(68, 63%, 65%, 1);
    border: white 2px solid;
}

div#color2 {
    width: 200px;
    height: 200px;
    background-color: #deb56e;
    border: white 2px solid;
}

div#color3 {
    width: 200px;
    height: 200px;
    background-color: #d8d8d8;
    border: white 2px solid;
}

div#color4 {
    width: 200px;
    height: 200px;
    background-color: #252525;
    border: white 2px solid;
}

div#nav {
    height: 60px;
    display: flex;
    align-items: center;
}

img#navlogo {
    height: 60px;
}

p.navbutton {
    color: hsla(68, 63%, 65%, 1);
    font-weight: 400;
    font-size: 2em;
}

p.navbutton:hover {
    text-shadow: 0px 0px 10px #cfde6e;
}

.link_big, .link_small {
    font-style: italic;
}

.link_big:hover {
    color: #d8d8d8;
}

.link_small:hover {
    color: #deb56e;
}

input, textarea {
    width: 100%;
    height: 30px;
    background-color: #d8d8d8;
    border: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 5px 0px;
}

textarea {
    height: 150px;
}

::placeholder {
    color: #252525;
    opacity: 1; /*Firefox*/
}

input#send {
    width: 80px;
    color: #252525;
    background-color: #deb56e;
}